Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  bugprone-*,
  readability-*,
  misc-*,
  portability-*,
  security-*,
  hicpp-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             cppcoreguidelines-avoid-magic-numbers.IgnoreNumbers
    value:           '0,1'          # Ignore 0 and 1 as magic numbers
  - key:             readability-identifier-naming.ClassCase
    value:           'CamelCase'    # Enforce CamelCase naming for classes
  - key:             readability-identifier-naming.FunctionCase
    value:           'camelBack'    # Enforce lower camelCase naming for functions
